In [1]:
import csv
with open('winequality-red.csv', 'r') as f:
    wines = list(csv.reader(f, delimiter=';'))
print(wines[:3])

[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality'], ['7.4', '0.7', '0', '1.9', '0.076', '11', '34', '0.9978', '3.51', '0.56', '9.4', '5'], ['7.8', '0.88', '0', '2.6', '0.098', '25', '67', '0.9968', '3.2', '0.68', '9.8', '5']]

In [6]:
with open('winequality-red.csv', 'r') as f:
    wines1 = list(csv.reader(f))
print(wines1[:3])

[['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'], ['7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5'], ['7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5']]

#### Array cration methods in numpy

In [23]:
#if lists of lists is provided to numpy.array function numpy array is created 
import numpy as np
wines = np.array(wines[:], dtype= np.float)
wines

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

In [19]:
#We can check the number of rows and columns in our data using the shape property of NumPy arrays:

wines.shape

(1599, 12)

In [20]:
type(wines)

numpy.ndarray

In [21]:
#create n *m array with all elements as zeros
empty_array = np.zeros((3,4))
empty_array

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [22]:
#create n *m array with all elements as zeros
np.random.rand(3,4)

array([[0.93597994, 0.84368954, 0.6888422 , 0.19720012],
       [0.05227893, 0.91670336, 0.94296099, 0.56011265],
       [0.06551078, 0.69207757, 0.47146324, 0.07689225]])

#### Numpy to read files using genfromtxt function

In [27]:
wines = np.genfromtxt("winequality-red.csv", delimiter=";", skip_header=1)
wines
#skip_header will skip no of rows specified

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

In [30]:
type(wines[0][0])

numpy.float64

#### Indexing NumPy Arrays

In [32]:
#retrieve value from array at position 3rd row 3rd column. No. of indexes used is dimension of array
wines[2,2]

0.04

In [46]:
wines[2][2]

0.04

#### Slicing NumPy Arrays

In [37]:
#To retrieve column elements from first two rows
wines[0:2,1]

array([0.7 , 0.88])

In [39]:
#To extract entire second column
wines[:,1]

array([0.7  , 0.88 , 0.76 , ..., 0.51 , 0.645, 0.31 ])

In [44]:
#To extract entire entire fourth row
wines[3, :]

array([11.2  ,  0.28 ,  0.56 ,  1.9  ,  0.075, 17.   , 60.   ,  0.998,
        3.16 ,  0.58 ,  9.8  ,  6.   ])

In [48]:
#To retrieve first two rows
wines[:2]

array([[ 7.4   ,  0.7   ,  0.    ,  1.9   ,  0.076 , 11.    , 34.    ,
         0.9978,  3.51  ,  0.56  ,  9.4   ,  5.    ],
       [ 7.8   ,  0.88  ,  0.    ,  2.6   ,  0.098 , 25.    , 67.    ,
         0.9968,  3.2   ,  0.68  ,  9.8   ,  5.    ]])

In [49]:
#To retrieve first two cloumns from first two rows
wines[:2, :2]

array([[7.4 , 0.7 ],
       [7.8 , 0.88]])

In [52]:
#to retrieve entire data
wines[:]

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

In [53]:
#to retrieve entire data
wines[:,:]

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

#### Assigning Values To NumPy Arrays

In [54]:
#for changing a particular value
wines[1,5] = 10

In [55]:
#for changing an entire row (use slicing)
wines[3, :] = 0

In [56]:
wines[3, :]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### 1-Dimensional NumPy Arrays

In [60]:
#get only 2nd row
third_wine = wines[2,:]
type(third_wine)

numpy.ndarray

In [61]:
third_wine

array([7.80e+00, 7.60e-01, 4.00e-02, 2.30e+00, 9.20e-02, 1.50e+01,
       5.40e+01, 9.97e-01, 3.26e+00, 6.50e-01, 9.80e+00, 5.00e+00])

In [63]:
#for 2nd element from 2nd row
third_wine[1]

0.76

In [66]:
b = np.random.rand(3)
type(b)

numpy.ndarray

In [67]:
b

array([0.41121328, 0.15765403, 0.31382826])

In [65]:
np.random.rand(10,)

array([0.28342898, 0.86114743, 0.90984425, 0.34836064, 0.33353038,
       0.39251049, 0.2867356 , 0.12955632, 0.49791588, 0.59590841])

#### N-dimensional numpy arrays

In [72]:
#monthly earning for an year(1D)
month = [500, 505, 490, 810, 450, 678, 234, 897, 430, 560, 1023, 640]
#for quarterly earnings for an year(2D)
year_one = [ 
    [500,505,490],
    [810,450,678],
    [234,897,430],
    [560,1023,640]
]
#for quarterly earnings for two years (3D)
earnings = [
            [
                [500,505,490],
                [810,450,678],
                [234,897,430],
                [560,1023,640]
            ],
            [
                [600,605,490],
                [345,900,1000],
                [780,730,710],
                [670,540,324]
            ]
          ]

In [80]:
#for getting first quarter earnings
e_1 = earnings[0][0]
e_1

[500, 505, 490]

In [76]:
#create numpy array
np.array(earnings)

array([[[ 500,  505,  490],
        [ 810,  450,  678],
        [ 234,  897,  430],
        [ 560, 1023,  640]],

       [[ 600,  605,  490],
        [ 345,  900, 1000],
        [ 780,  730,  710],
        [ 670,  540,  324]]])

In [77]:
np_earnings = np.array(earnings)

In [78]:
#get 1st quarter for year 1
e_11 = np_earnings[0,0]
e_11

array([500, 505, 490])

In [81]:
#get january month earning for year 1
e_1_jan = np_earnings[0,0,0]
e_1_jan

500

In [82]:
np_earnings.shape

(2, 4, 3)

In [92]:
#get the january earning for all years
e_jan = np_earnings[(0,1),0,0]
e_jan

array([500, 600])

In [91]:
np_earnings[1, 1]

array([ 345,  900, 1000])

In [97]:
np_earnings[0, 0, 0]

500

In [98]:
np_earnings[1, 0, 0]

600

In [99]:
np_earnings[:,0,0]

array([500, 600])

In [105]:
#for getting the february data
np_earnings[(0,1),0,1]

array([505, 605])

In [109]:
#get first quarter earnings from both the quarter 
np_earnings[0,0]#for year 1

array([500, 505, 490])

In [110]:
np_earnings[1,0]#for year 2

array([600, 605, 490])

In [112]:
np_earnings[:,0]#for both the years

array([[500, 505, 490],
       [600, 605, 490]])